@font-face {
    font-family: 'ReformaGrotesk';
    font-weight: 600;
    src:
        url('../fonts/ReformaGroteskBold.woff2') format('woff2'),
        url('../fonts/ReformaGroteskBold.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'ReformaGrotesk';
    font-weight: 500;
    src:
        url('../fonts/ReformaGroteskMedium.woff2') format('woff2'),
        url('../fonts/ReformaGroteskMedium.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'ReformaGrotesk';
    font-weight: 400;
    src:
        url('../fonts/ReformaGroteskDemi.woff2') format('woff2'),
        url('../fonts/ReformaGroteskDemi.woff') format('woff');
    font-display: swap;
}