include _burg
include _nav

mixin header(headerClass='', current='')
    -var headerClasses = "header " + headerClass
    header(class= headerClasses data-aos="fade-down" data-aos-duration="1000")
        .blur
        .container
            .header__content
                .header__content-row
                    +nav(
                        [
                            {link:'index.html', content:'Главная'},
                            {link:'#services', content:'Оклейка автомобилей'},
                            {link:'#services', content:'Детейлинг автомобилей'},
                            {link:'#works', content:'Галерея работ'}
                        ], 'headNav', current)(class="header__nav")
                    +burg('#headNav')(class="header-burg")