include _burg
include _nav

mixin header(headerClass='', current='')
    -var headerClasses = "header " + headerClass
    header(class= headerClasses)
        .blur
        .container
            .header__content
                .header__content-row
                    +nav(
                        [
                            {link:'#', content:'Главная'},
                            {link:'#', content:'Оклейка автомобилей'},
                            {link:'#', content:'Детейлинг автомобилей'},
                            {link:'#works', content:'Галерея работ'}
                        ], 'headNav', current)(class="header__nav")
                    +burg('#headNav')(class="header-burg")