.services-block{

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    
    > * {
        grid-column: span 3;
    }

    @media (max-width: 960px){
        gap: 12px;
        > * {
            grid-column: span 6;
        }
    }

    @media (max-width: 960px){
        max-width: 640px;
        margin: 0 auto;
    }


    &__title{
        font-size: 24px;
        line-height: 140%;   
    }

    &__text{
        font-size: 16px;
        line-height: 140%;   
    }
}

.service-card{

    height: 100%;
    
    padding: 25% 13% 16%;

    @media (max-width: $mobileL){
        padding: 16% 10% 12%;
    }

    border: 1px solid $grey;

    &_pt_50{
        padding-top: 50px;
    }

    &__content{
        height: 100%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: relative;

    }

    &__icon{
        margin-bottom: 30px;   
        position: absolute;
        top: 0;

        &_top_12{
            top: 12px;
        }
        &_top_6{
            top: 6px;
        }
    }

    &__title{
        margin-bottom: 20px;   
        text-transform: uppercase;
        padding-top: 92px;
        text-align: center;

        &_pt_110{
            padding-top: 110px;
        }

        @media (max-width: 960px){
            flex-grow: 1;
        }

        @media (max-width: $laptop){
            font-size: 2.4vw;
        }
        @media (max-width: $tablet){
            font-size: 3.2vw;
        }
        @media (max-width: $mobileL){
            font-size: 6vw;
        }
    }

    &__text{
        flex-grow: 1;   
        text-align: center;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 140%;
        margin-bottom: 28px;

        @media (max-width: $laptop){
            font-size: 1.5vw;
        }
        @media (max-width: $tablet){
            font-size: 1.9vw;
        }
        @media (max-width: $mobileL){
            margin-bottom: 10px;
            font-size: 3vw;
        }
    }

    &__link{
        min-width: 100px;
        padding: 8px;
        font-size: 18px;
    }
}