.services-block{
    padding-bottom: 90px;
    $gap: 24px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: $gap;
    
    > * {
        flex: 1 1 calc((100% / 4) - ($gap*2));
    }
    
    @media (max-width: $tablet){
    
        > * {
            flex: 1 1 calc((100% / 2) - ($gap*2));
        }
    }

    &__title{
        font-size: 24px;
        line-height: 140%;   
    }

    &__text{
        font-size: 16px;
        line-height: 140%;   
    }
}

.service-card{
    max-width: 25%;
    padding: 78px 40px 50px;

    border: 1px solid $grey;

    &__content{
        height: 100%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: relative;

    }

    &__icon{
        margin-bottom: 30px;   
        position: absolute;
        top: 0;

        &_top_12{
            top: 12px;
        }
        &_top_6{
            top: 6px;
        }
    }

    &__title{
        margin-bottom: 20px;   
        font-size: 24px;
        text-transform: uppercase;
        padding-top: 92px;
    }

    &__text{
        flex-grow: 1;   
        text-align: center;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 140%;
        margin-bottom: 28px;
    }

    &__link{
        min-width: 100px;
        padding: 8px;
        font-size: 18px;
    }
}