section.hero
    .container.hero__container
        .hero__content
            .hero__main-block
                h1.hero__title.title.rectangles CAR MUSC
                h2.hero__subtitle 
                    span.hero__subtitle-line Lorem ipsum dolor sit amet, consectetur 
                    span.hero__subtitle-line adipiscing elit. Vitae orci urna amet penatibus.
                a.hero__btn.btn(href="#services") 
                    span Наши услуги
    .hero__bottom 
        .contact.hero__item
            p.contact__title адрес:
            p.contact__text Lorem ipsum dolor sit amet,
            p.contact__text consectetur adipiscing elit
        .contact.hero__item
            p.contact__title телефон:
            p.contact__text
                a.contact__link(href="tel:88121234567") 8 (812) 123-45-67
                a.contact__link(href="tel:89111234567") 8-911-123-45-67
        .contact.hero__item
            p.contact__title Режим работы:
            p.contact__text пн-пт : 10:00 - 20:00 
            p.contact__text сб-вск : 12:00 - 20:00
        