include ../parts/swiper-buttons-svg.pug
.main-slider-section
    .container-big.main-slider-section__container
        .swiper.main-slider
            .swiper-wrapper
                .swiper-slide(data-hash="slide1")
                    img.main-slider-image(src="img/slide1.jpg", alt="тюнингованные авто")
                    p.main-slider-text.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate laoreet sapien a sit ante.
                .swiper-slide(data-hash="slide2")
                    img.main-slider-image(src="img/slide2.jpg", alt="ниссан скайлайн")
                    p.main-slider-text.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate laoreet sapien a sit 
                .swiper-slide(data-hash="slide3")
                    img.main-slider-image(src="img/slide3.jpg", alt="тюнингованная тачка")
                    p.main-slider-text.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate laoreet sapien a sit ante
                .swiper-slide(data-hash="slide1")
                    img.main-slider-image(src="img/slide1.jpg", alt="тюнингованные авто")
                    p.main-slider-text.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate laoreet sapien a sit ante.
                .swiper-slide(data-hash="slide2")
                    img.main-slider-image(src="img/slide2.jpg", alt="ниссан скайлайн")
                    p.main-slider-text.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate laoreet sapien a sit 
                .swiper-slide(data-hash="slide3")
                    img.main-slider-image(src="img/slide3.jpg", alt="тюнингованная тачка")
                    p.main-slider-text.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate laoreet sapien a sit ante

        +swiper-buttons('main-slider-prev','main-slider-next')