section.cost
    .cost__content.container
        h2.cost__title.title.title_center.rectangles Стоимость полной оклейки автомобиля
        table.cost__table
            tr  
                th авто / Материал
                th Пленка Spectroll
                th Пленка Hexis
                th авто / Пленка SunTek
                th авто / Пленка LLumar
            tr
                td 
                    span 1 класс 
                    span (Mini cooper, Fiat 500)
                td 53 000 ₽
                td 64 000 ₽
                td 69 000 ₽
                td 72 000 ₽
            tr
                td
                    span 2 класс 
                    span  (BMW 3, Mercedes)
                td 53 000 ₽
                td 64 000 ₽
                td 69 000 ₽
                td 72 000 ₽
            
            tr
                td 
                    span 4 класс 
                    span (BMW 7, Mercedes S)
                td 53 000 ₽
                td 64 000 ₽
                td 69 000 ₽
                td 72 000 ₽
            tr
                td 
                    span 5 класс 
                    span (BMW X3,X4, Mercedes)
                td 53 000 ₽
                td 64 000 ₽
                td 69 000 ₽
                td 72 000 ₽