section.hero
    .container.hero__container
        .hero__content.hero__content_service(data-aos="fade-up" data-aos-duration="1000")
            h1.title.title_service.rectangles Оклейка автомобиля защитными пленками
            h2.hero__subtitle.hero__subtitle_service
                span.hero__subtitle-line Lorem ipsum dolor sit amet, consectetur 
                span.hero__subtitle-line adipiscing elit. Vitae orci urna amet penatibus.
            a.hero__btn.btn(href="#cost") цены
