
section#services.services.services_pt_75
    .services__content.container
        h2.services__title.title.rectangles Преимущества защитной антигравийной пленки
        .services-block 
            article.service-card.service-card_pt_50
                .service-card__content
                    img.service-card__icon.service-card__icon_top_6(src="img/svg/service-icon-1.svg" aria-hidden="true" alt="icon")
                    h3.service-card__title.service-card__title_pt_110 Ipsum convallis
                    .service-card__text.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nascetur ultrices pellentesque vulputate sit. Ut feugiat.
            article.service-card.service-card_pt_50
                .service-card__content
                    img.service-card__icon(src="img/svg/advantages-icon-1.svg" aria-hidden="true" alt="icon")
                    h3.service-card__title.service-card__title_pt_110 Felis purus
                    .service-card__text.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nascetur ultrices pellentesque vulputate sit. Ut feugiat.
            article.service-card.service-card_pt_50
                .service-card__content
                    img.service-card__icon.service-card__icon_top_12(src="img/svg/advantages-icon-2.svg" aria-hidden="true" alt="icon")
                    h3.service-card__title.service-card__title_pt_110 Enim praesent
                    .service-card__text.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nascetur ultrices pellentesque vulputate sit. Ut feugiat.
            article.service-card.service-card_pt_50
                .service-card__content
                    img.service-card__icon(src="img/svg/advantages-icon-3.svg" aria-hidden="true" alt="icon")
                    h3.service-card__title.service-card__title_pt_110 Aliquam tellus
                    .service-card__text.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nascetur ultrices pellentesque vulputate sit. Ut feugiat.