.advantages{
    padding: 180px 0 86px;

    @media (max-width: $mobileL){
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &__content{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 30px;

        @media (max-width: $tablet){
            flex-wrap: wrap;
        }
    }
    &__articles{
        max-width: 526px;
        width: 100%;
    }
    &__slider{
        width: 50%;
        margin: 0;

        @media (max-width: $tablet){
            max-width: 630px;
            width: 100%;
            margin: 0 auto;
        }
    }

    &_2{
        padding-top: 90px;
    }

    &__text{
        margin-bottom: 60px;   

        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;

        letter-spacing: 0.03em;

        @media (max-width: $mobileL){
            font-size: 18px;
        }
    }

    &__left{
        max-width: 526px;

        @media (max-width: $tablet){
            margin-bottom: 60px;
        }
    }
    &__brands{
        padding-right: 50px;
        margin-left: auto;
        display: flex;
        gap: 30px;
        justify-content: space-between;
        align-items: center;
        max-width: 470px;

        &:not(:last-child){
            margin-bottom: 50px;
        }

        @media (max-width: $mobileL){
            padding-right: 0px;
        }

    }

    &__brand{

        &_voys{
            margin-top: 15px;
        }

        img{
            display: block;
            width: 100%;
            height: auto;
        }

    }
}

.advantages__content.advantages__content-invert{
    .advantages__articles{
        order: 2;
    }
}

.advantage{
    position: relative;
    padding-bottom: 54px;
    margin-bottom: 40px;

    &__image{
        display: inline-block;
        position: absolute;

        &_top_15{
            top: 15px;
        }
        &_left_7{
            left: 7px;
        }
        
    }

    &__title{
        padding-top: 18px;
        display: inline-block;
        padding-left: 100px;
        font-weight: 400;
        font-size: 33px; 
        margin-bottom: 48px;
        text-transform: uppercase;

        @media (max-width: $mobileL){
            font-size: 28px;
            margin-bottom: 26px;
        }
    }

    &__text{
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        letter-spacing: 0.03em;

        @media (max-width: $mobileL){
            font-size: 20px;
        }
    }

}
.advantages-slide{
    &__text{
       // max-width: 422px;
       
        position: relative;
        padding: 50px 100px 30px;
        margin: 0 auto;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;

        @media (max-width: 539px){
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    &__image{
        width: 100%;
        height: auto;
    }
}
.advantages-slider-prev, .advantages2-slider-prev{
    left: 0;
}
.advantages-slider-next, .advantages2-slider-next{
    right: 0;
}