.main-slider-section{

    &__container{
        position: relative;
    }

    .swiper-button-prev{
        left: 30px !important;
        top: 48%;
    }
    .swiper-button-next{
        right: 30px !important;
        top: 48%;
    }
}

.main-slider{
    margin: 0 130px;
    max-width: 1296px;
    max-height: 420px;
    height: 100%;

    

}

.main-slider-image {
    width: 100%;
    height: auto;
}
.main-slider-text {
    padding: 30px 40px 0;
    margin: 0 auto;
    max-width: 366px;
    background: linear-gradient($accent 65% , transparent 65%);

    position: relative;
    top: -35px;
    z-index: 10;

    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
}

.swiper-button-next, .swiper-button-prev {
    width: 70px;
    height: 70px;
}