.services{
    &__title{
        text-align: center;  
        
        max-width: 636px;
        margin: 0 auto;

        margin-bottom: 60px; 
    }

    &_pt_75{
        padding-top: 75px;
    }
}

.tabs__buttons{
    margin-bottom: 76px;
    justify-content: space-between;
    
}
.tabs__button{
    padding: 12px;
    padding-top: 18px;
    font-size: 32px;
    font-weight: 400;
    width: 180px;
}