body {
    font-family: ReformaGrotesk, Arial, sans-serif;
    color: #fff;
    background-color: $black;
    font-size: 24px;
    letter-spacing: 0.05em;
    line-height: 140%;
    &.lock{
        overflow: hidden;
    }


}
.blur{

    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(0px);
    transition: backdrop-filter 1s;
    pointer-events: none;

    &_active{
        backdrop-filter: blur(6px);
        pointer-events:visible;
    }
}

.main{
    background-color: $black;
    overflow: hidden;
}

.title, .subtitle {
    text-transform: uppercase;
    font-weight: 60;
}

.title{
    font-size: 52px;
    line-height: 140%;
    letter-spacing: 0.05em;
    padding-bottom: 58px;
    
    @media (max-width: $mobileL){
        font-size: 36px;
        line-height: 48px;
    }
}

.rectangles{
    position: relative;
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 147px;
        height: 15px;
        background-image: url('../img/svg/rectangles.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

    &_left{
        &::before {
            left: 0;
            transform: translateX(0px);
        }
    }
}

.subtitle {
    font-size: 21px;
    line-height: 44;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 15px;

}
.text {
    font-size: 16;
    line-height: 20;

    @media (max-width: $tablet){
        font-size: 12;
        line-height: 18;
    }
}

.cover{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.fill{
    object-fit: fill;
    width: 100%;
    height: 100%;
}

*:focus, *:focus-visible{
    outline: 1px solid #fff;
    outline-offset: 5px;
}

.laptop-hidden{
    @media (max-width: $laptop){
        display: none;
    }
}

.tablet-hidden{
    @media (max-width: $tablet){
        display: none;
    }
}

.row{
    display: flex;
    justify-content: space-between;
}
.pre{
    white-space: pre;
}

table{
    width: 100%;
    th{
        text-align: start;
    }
    td{
        vertical-align: top;
    }
}
address{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 2;

    display: flex;
    flex-wrap: wrap;
    column-gap: 23px;
    width: 50%;
    align-items: flex-end;
    justify-content: flex-end;

}
.btn{
    padding: 15px;
    display: inline-block;
    color: #fff;
    background-color: transparent;

    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    min-width: 144px;

    position: relative;
    z-index: 1;
    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: $accent;
        transition: .3s;
    }

    &:hover{
        cursor: pointer;
        opacity: 1;

        &::before {
            width: 100%;
            box-shadow: 0px 0px 10px 1px $accent;
        }
    }

    &:active{
/*         color: rgba(#fff, .3);
        opacity: .3; */
        transform: scale(0.97);
    }

    &.w-100{
        width: 100%;

        &:hover{
            transform: rotate(-1deg) scale(1.1);
        }
    }
    
}
.btn.tabs__button {
    &::before {
       width: 0%;
    }

    &:hover{
        &::before {
            width: 50%;
            
        }
    }

    &.tabs__button_current{
        &::before {
            width: 100%;
            
        }
    }
}

a{
    transition: opacity .3s;

    &:hover{
        opacity: .7;
    }
}
  
.social{
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__li{
        border: 1px solid $grey;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon{
        display: block;
    }
}

.copy{
    font-size: 16px;
    text-transform: uppercase;
    opacity: 0.5;
    letter-spacing: 0.05em;
    line-height: 140%;
}

